* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

nav {
    width: 1366px;
    height: 60px;
    background-color: rgb(255, 251, 251);
    display: flex;
}

.main-1 {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 30px;
    width: 700px;
    height: 60px;
}

.main-2 ul {
    display: flex;
    align-items: center;
    gap: 50px;
    width: 600px;
    height: 60px;
    list-style: none;
    color: gray;

}

#HOME:hover {
    color: black;
    cursor: pointer;
}

#ALBUMS:hover {
    color: black;
    cursor: pointer;
}

#CONTACT:hover {
    color: black;
    cursor: pointer;
}

#BLOG:hover {
    color: black;
    cursor: pointer;
}

#search:hover {
    color: black;
    cursor: pointer;
}

#bar:hover {
    color: black;
    cursor: pointer;
}

#ABOUT:hover {
    color: black;
    cursor: pointer;

}

.middle-div {
    width: 1366px;
    height: 400px;
    background-color: rgb(251, 244, 244);
}


.content-div {
    font-family: monospace;
    text-align: center;
    padding-top: 80px;



}

.list-div ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 150px;
    color: gray;
}

#all:hover {
    color: black;
    cursor: pointer;

}

#all {
    list-style: none;
}

#PHOTOGRAPHY:hover {
    color: black;
    cursor: pointer;


}

#TRAVEL:hover {
    color: black;
    cursor: pointer;

}

#LIFE:hover {
    color: black;
    cursor: pointer;

}

#NATURE:hover {
    color: black;
    cursor: pointer;

}

#FASHION:hover {
    color: black;
    cursor: pointer;

}

.row-1 {
    display: flex;
    justify-content: space-around;
}

.row-2 {
    display: flex;
    justify-content: space-around;
}

.row-3 {
    display: flex;
    justify-content: space-around;
}

.row-4 {
    display: flex;
    justify-content: space-around;
}

.row-5 {
    display: flex;
    justify-content: space-around;
}


.Loading {
    width: 1366px;
    height: 200px;
    background-color: rgb(244, 233, 233);
}


.footer {
    width: 1366px;
    height: 90px;
    background-color: rgb(44, 43, 43);
    display: flex;
}


.footer .SUNZINE {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 90px;


    color: white;

}


.footer-content span {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 90px;
}


.footer-list ul {
    color: white;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    justify-content: flex-end;
    gap: 50px;
    width: 500px;
    height: 90px;



}